
<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <link href="/static/first/images/favicon152-e1462d32.png" rel="shortcut icon" />
  <title>运维平台</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <!-- <link rel="apple-touch-icon-precomposed" href="/static/first/images/favicon152-e1462d32.png"> -->
  <link href="/static/first/css/style-624f64a9.css" rel="stylesheet" type="text/css" />
  
  <script src="/static/first/js/bbt6nca.js"></script>
  <!--     <script>try{Typekit.load();}catch(e){}</script> -->

  <script src="/static/first/js/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="/static/first/js/essentials-2a0b226e.js" type="text/javascript"></script>
    <link href="/static/first/css/font-awesome.min.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" media="all" href="/static/first/css/style.css">
  <script type="text/javascript" src="/static/first/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/first/js/jquery.leanModal.min.js"></script>
</head>
<body>


<header class="jumbotron jumbotron-m-index">

  <!-- <div class="jumbotron--background">
  </div>-->

  <div class="jumbotron--content introduction">
    <h1 class="introduction--logo">FTAS</h1>
    <p class="what-we-do">
      我们定义
      <span class="what-we-do--emphasis"><strong>专业</strong> &amp; <strong>专注</strong></span>
      <span class="what-we-do--emphasis">运 维 管 理</span>
    </p>
    <hr>
    <p class="introduction--description">专业设计 &amp; 研发</p>
    <a class="introduction--button button button-m-white-transparent js-scrollto" id="modaltrigger" href="/index">登 录</a>
  </div>
<!--  <div id="loginmodal" style="display:none;">
    <h1>用户登陆</h1>
    <form id="loginform" name="loginform" method="post" action="login.html">
      <label for="username">用户名</label>
      <input type="text" name="username" id="username" class="txtfield" tabindex="1">
      
      <label for="password">密 码</label>
      <input type="password" name="password" id="password" class="txtfield" tabindex="2">
      
      <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="登 陆" tabindex="3"></div>
      {{login_err}}
    </form>
  </div>
  <script type="text/javascript">
$(function(){
  $('#loginform').submit(function(e){
    return false;
  });
  
  $('#modaltrigger').leanModal({ top: 200, overlay: 0.45, closeButton: ".hidemodal" });
});
</script> -->
  <div>
  </div>
  <div class="footer--copyright">
        &copy; FTAS 2015
  </div>

</header>

      

<script src="/static/first/js/common-797e7a07.js" type="text/javascript" defer="defer"></script>
<script src="/static/first/js/index-776adb94.js" type="text/javascript" defer="defer"></script>
<script src="/static/first/js/up_up_down_down-d024d8ff.js" type="text/javascript" async="async"></script>

</body>
</html>
