<!DOCTYPE html>
<html>
{% extends "index.html" %}
{% block title %}
<title>OMC-主机管理</title>
{% endblock %}
{% block center %}
<noscript>
    <div class="alert alert-block col-md-12">
        <h4 class="alert-heading">Warning!</h4>
            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
            enabled to use this site.</p>
     </div>
</noscript>

<div id="content" class="col-lg-10 col-sm-10">
    <!-- center topbar-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/index">控制台</a>
            </li>
            <li>
                <a href="/server">主机管理</a>
            </li>
        </ul>
    </div>
    <!-- center alter num-->
    <div class=" row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
            <i class="glyphicon glyphicon-star green"></i>
                <div>认证的主机</div>
                <div>400</div>
            <!-- right-corner tips    
                <span class="notification">6</span> 
            -->
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
            <i class="glyphicon glyphicon-star-empty blue"></i>
                <div>未认证的主机</div>
                <div>200</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
            <i class="glyphicon glyphicon-remove yellow"></i>
                <div>出错的主机</div>
                <div>13</div>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
            <i class="glyphicon glyphicon-envelope red"></i>
                <div>报警的主机</div>
                <div>25</div>
            </a>
        </div>
    </div><!-- /center alter num -->
    
    <!-- switch card -->
    <div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-621923">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-16091" data-toggle="tab">服务管理</a>
					</li>
					<li>
						<a href="#panel-16092" data-toggle="tab">用户管理</a>
					</li>
					<li>
						<a href="#panel-16093" data-toggle="tab">软件管理</a>
					</li>
					<li>
						<a href="#panel-16094" data-toggle="tab">系统管理</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-16091">
						<p>
						<div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="text-center">添加记录</h3>
                                </div>
                                <div class="modal-body">
                                    <form action="/assets_add/" method="post">
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                              <input name="hostname" type="text" class="form-control" placeholder="主机名">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-signal red"></i></span>
                                              <input name="ip" type="text" class="form-control" placeholder="IP地址">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-sort red"></i></span>
                                              <input name="osversion" type="text" class="form-control" placeholder="系统版本">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-star red"></i></span>
                                              <input name="cpu_core" type="text" class="form-control" placeholder="CPU(核)">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-certificate red"></i></span>
                                              <input name="memory" type="text" class="form-control" placeholder="内存(G)">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-hdd red"></i></span>
                                              <input name="disk" type="text" class="form-control" placeholder="硬盘(G)">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-globe red"></i></span>
                                              <input name="product" type="text" class="form-control" placeholder="Product">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                              <input name="vendor_id" type="text" class="form-control" placeholder="CPU品牌">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase red"></i></span>
                                              <input name="model_name" type="text" class="form-control" placeholder="CPU型号">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark red"></i></span>
                                              <input name="Manufacturer" type="text" class="form-control" placeholder="品牌">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-barcode red"></i></span>
                                              <input name="sn" type="text" class="form-control" placeholder="SN">
                                          </div>
                                          <div class="input-group col-md-6 col-md-push-3 col-md-pull-3">
                                              <span class="input-group-addon"><i class="glyphicon glyphicon-signal red"></i></span>
                                              <input name="ping" type="text" class="form-control" placeholder="Ping">
                                          </div>
                                    <div class="modal-footer">
                                        <input class="hidden" type="submit"/><button class="btn btn-primary">保存</button>
                                        <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </p>
					</div>
					<div class="tab-pane" id="panel-16092">
						<p>
						    <div class="modal-header">
                                <h3>添加记录</h3>
                            </div>
							<form class="form-inline" role="form">
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label" for="inputSuccess4">业务类型</label>
                                    <input type="text" class="form-control" id="inputSuccess4">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </form>
						</p>
					</div>
					<div class="tab-pane" id="panel-16093">
						<p>
						    <div class="modal-header">
                                <h3>添加记录</h3>
                            </div>
							<form class="form-inline" role="form">
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label" for="inputSuccess4">业务类型</label>
                                    <input type="text" class="form-control" id="inputSuccess4">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </form>
						</p>
					</div>
					<div class="tab-pane" id="panel-16094">
						<p>
						    <div class="modal-header">
                                <h3>添加记录</h3>
                            </div>
							<form class="form-inline" role="form">
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label" for="inputSuccess4">业务类型</label>
                                    <input type="text" class="form-control" id="inputSuccess4">
                                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </form>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /switch card -->
    
</div><!-- /content -->
{% endblock %}
</html>